* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(200, 150, 0);
    --dark-primary-color: rgb(160, 110, 0);
    --secondary-color: rgb(0, 10, 100);
    --dark-secondary-color: rgb(0, 0, 60);
    --terciary-color: coral;
    --light-terciary-color: rgb(255, 150, 110);
    --neutral-color: rgb(255, 200, 160);
    --highlight-color: darkred;
}

li, a {
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Calibri;
    text-align: center;
}

.header-principal {
    padding: 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 18px;
}

.header-principal h1 {
    font-size: 60px;
    margin: -6px 0;
}

.header-principal ul {
    margin: 30px 0 0;
}

.header-principal li {
    padding: 6px;
}

.secao {
    margin: 8px 0;
}

.card-inicio {
    margin: 16px 0;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 80px 30px;
}

.card-inicio h2, h3 {
    padding: 0 0 30px;
}

.btn {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 50px;
    border-radius: 12px;
}

.btn-inicio {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

